<ion-header>
  <ion-toolbar>
    <ion-title class = "ion-text-wrap">Bienvenido {{nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card id="la_florida">
      <ion-item>
        <ion-icon name="pin" slot="end"></ion-icon>
        <ion-label>La Florida</ion-label>
        <ion-button fill="outline" slot="start" routerLink = "/la-florida">View</ion-button>
      </ion-item>
    
      <ion-card-content>
        Revisa los productos disponibles en sucursal La Florida.
      </ion-card-content>
    </ion-card>
  
    
    <ion-card id="Puente Alto">
      <ion-item>
        <ion-icon name="pin" slot="end"></ion-icon>
        <ion-label>Puente Alto</ion-label>
        <ion-button fill="outline" slot="start" routerLink = "/puente-alto">View</ion-button>
      </ion-item>
    
      <ion-card-content>
        Revisa los productos disponibles en sucursal Puente Alto.
      </ion-card-content>
    </ion-card>

    
    <ion-card id="Macul">
      <ion-item>
        <ion-icon name="pin" slot="end"></ion-icon>
        <ion-label>Macul</ion-label>
        <ion-button fill="outline" slot="start" routerLink = "/macul">View</ion-button>
      </ion-item>
    
      <ion-card-content>
        Revisa los productos disponibles en sucursal Macul.
      </ion-card-content>
    </ion-card>






</ion-content>
